@font-face {
  font-family: "PublicPixel";
  src: url("/fonts/PublicPixel-z84yD.ttf") format("truetype");
  font-weight: 400;
}

.hover-underline-animation {
  display: flex;
  width: 100%;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #5f4417;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
