---
const {backgrounds} = Astro.props;
---
<form class="py-3 md:py-10 px-2 md:px-5 h-full">
    <div>
        <label for="choosing a background" class="">Choose your background:</label>
        <select id="progress-3-background" class="flex flex-col w-52 rounded-xl py-1 my-1">
            <option class="hidden">Select</option>
        {
            backgrounds.data.map((background) => (
                <option id={`backgroundName_${background.attributes.backgroundName.replace(/\s+/g,'')}`} value={background.attributes.backgroundName.replace(/\s+/g,'')}>{background.attributes.backgroundName}</option>
        ))}
        </select>
    </div>
</form>
<script>
    const selector = document.querySelector('#progress-3-background');
    selector?.addEventListener('change', () => {
        const details = document.getElementById(selector.options[selector.selectedIndex].id.split('backgroundName_')[1])
        details?.classList.remove('hidden')

        const otherContainers = document.getElementById('background-traits')?.children
        if(otherContainers){
            for(let container of otherContainers){
                if(container !== details)
                    container.classList.add('hidden')
            }
        }

    })
</script>