---
---
<form class="py-3 md:py-10 px-2 md:px-5 h-full">
    <div class="flex flex-col">
        <label for="character details creation" class="py-5">Write a general description of your character:</label>
        <textarea id="details-textarea" class="h-[400px] font-light" aria-role="details-writing"/>
    </div>
</form>