---
import InstagramIcon from '../character-builder-dnd-site/public/icons/instagram-icon.svg?raw';
import DiscordIcon from '../character-builder-dnd-site/public/icons/discord-icon.svg?raw';
import GithubIcon from '../character-builder-dnd-site/public/icons/github-icon.svg?raw';
import LinkedinIcon from '../character-builder-dnd-site/public/icons/linkedin-icon.svg?raw';
---
<section class="items-center justify-center flex">
<div class="bg-[#202e20] w-full h-[150px] text-white flex flex-col gap-y-5 items-center justify-center">
    <div class="flex-row flex  gap-x-4">
        <a href="https://www.instagram.com/chew.bvcca/" aria-label="Button that sends the user to my Instagram profile"><Fragment set:html={InstagramIcon} /></a>
        <a href="https://discord.gg/N3DStCMT" aria-label="Button that sends the user to my Discord profile"><Fragment set:html={DiscordIcon} /></a>
        <a href="https://github.com/vladMihaiDiaconu" aria-label="Button that sends the user to my GitHub profile"><Fragment set:html={GithubIcon} /></a>
        <a href="https://www.linkedin.com/in/vlad-diaconu/" aria-label="Button that sends the user to my Linkedin profile"><Fragment set:html={LinkedinIcon} /></a>
    </div>

    <p class="text-white">2024 &#9675; Vlad Diaconu</p>
</div>

</section>