---
import RaceForm from '../../components/character-creation-forms/RaceForm.astro'
---
<section class="flex flex-col justify-left sm:mx-10 md:mx-20 xl:mx-52 font-serif text-[6.5px] sm:text-[8px] md:text-xs py-10">
    <div>
        <ol type="1" class="flex flex-row">
            <li id="progress-1" class="bg-[#f8f5cf] rounded-t-xl progress-button">
                <button class="px-1 py-2 sm:px-2 sm:py-2 md:px-3 md:py-2">Race</button></li>
            <li id="progress-2" class="bg-[#f8f5cf] rounded-t-xl progress-button">
                <button class="px-1 py-2 sm:px-1 sm:py-1 md:px-3 md:py-2">Class</button></li>
            <li id="progress-3" class="bg-[#f8f5cf] rounded-t-xl progress-button">
                <button class="px-1 py-2 sm:px-1 sm:py-1 md:px-3 md:py-2">Background</button></li>
            <li id="progress-4" class="bg-[#f8f5cf] rounded-t-xl progress-button">
                <button class="px-1 py-2 sm:px-1 sm:py-1 md:px-3 md:py-2">Backstory</button></li>
            <li id="progress-5" class="bg-[#f8f5cf] rounded-t-xl progress-button">
                <button class="px-1 py-2 sm:px-1 sm:py-1 md:px-3 md:py-2">Details</button></li>
        </ol>
    </div>
    <div class="bg-[#bdab84] rounded-r-xl rounded-b-xl">
        <RaceForm />
    </div>
</section>
<script>
    const progressionButtons = document.getElementsByClassName('progress-button')
    progressionButtons[0].classList.remove('bg-[#f8f5cf]')
    progressionButtons[0].classList.add('bg-[#bdab84]')
    for(let button of progressionButtons) {
        button.addEventListener('click', () =>{
            button.classList.remove('bg-[#f8f5cf]')
            button.classList.add('bg-[#bdab84]')
            for(let b of progressionButtons) {
                if(b.id.split('-')[1] !== button.id.split('-')[1]){
                    b.classList.add('bg-[#f8f5cf]')
                    b.classList.remove('bg-[#bdab84]')
                }

            }
        })
    }
</script>